
body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  background-color: #e6e6fa;
  Color:#3b434d;
  background-image: url(back_raidou.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right bottom;
}
 table { width: 100%; border-collapse: collapse; margin-top: 10px; }
    td, th { border: 1px solid #ccc; padding: 4px; text-align: center; }
    img { height: 24px; }
    .filters { margin-bottom: 10px; }
    .filter-group { margin: 4px 0; }
.filter-option img {
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.3; /* 初期はOFF状態 */
  transition: 0.2s;
}
.filter-option img.active {
  border-color: #00c;
  opacity: 1;
}
.container {
  display: flex;
  width: 100%;
}
.left-panel {
  width: 30%;
  padding: 20px;
  background: #f0f0f0;
}
.right-panel {
  width: 70%;
  padding: 20px;
}
.filter-section > div {
  margin-bottom: 10px;
}
.filter-btn {
  margin: 5px;
  cursor: pointer;
  opacity: 0.4;
}
.filter-btn.active {
  opacity: 1.0;
}
.weapon-list {
  max-height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}
.weapon-item {
  margin: 10px 0;
}
button {
  font-size:130%;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display:inline-block;
  background: #3b434d;
  color: #fff;
  padding: 10px 30px;
  border-radius: 15px;
  outline: none;
}
