
body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  background-color: #e6e6fa;
  Color:#3b434d;
  background-image: url(back_raidou.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right bottom;
}
h2{

}
 table { width: 100%; border-collapse: collapse; margin-top: 10px; }
    td, th { height: 60px; border: 1px solid #777; padding: 4px; text-align: center; }
    img { height: 28px; }
    .filters { margin-bottom: 10px; }
    .filter-group { margin: 7px 0;
}
.filter-option img {
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.3; /* 初期はOFF状態 */
  transition: 0.2s;
}
.filter-option img.active {
  border-color: #00c;
  opacity: 1;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}
.left-panel {
  width: 35%;
  height: 100%;
  padding: 5px 20px;
  background:#BAACD5 ;
}
.right-panel {
  width: 65%;
  padding: 5px 20px;
}
.filter-section > div {
  margin-bottom: 10px;
}
.filter-btn {
  margin: 5px;
  cursor: pointer;
  opacity: 0.4;
}
.filter-btn.active {
  opacity: 1.0;
}
.weapon-list {
  width: 95%;
  height: 60vh;
  min-height: 500px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}
.weapon-item {
  margin: 10px 0;
}
button {
  margin: 7px 5px;
  font-size:130%;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display:inline-block;
  background: #3b434d;
  color: #fff;
  padding: 10px 30px;
  border-radius: 15px;
  outline: none;
}
        Button::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: radial-gradient(circle, #00c9e8 10%, transparent 10%) no-repeat 50%;
	transform: scale(10, 10);
	opacity: 0;
	transition: transform 0.3s, opacity 1s;
}
	Button:active::after {
	transform: scale(0, 0);
	transition: 0s;
	opacity: 0.3;
}
        #Button2::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: radial-gradient(circle, #ff8000 10%, transparent 10%) no-repeat 50%;
	transform: scale(10, 10);
	opacity: 0;
	transition: transform 0.3s, opacity 1s;
}
	#Button2:active::after {
	transform: scale(0, 0);
	transition: 0s;
	opacity: 0.3;
}
.season-badge, .ra_area-badge {
  margin: 5px;
  padding: 2px 6px;
  border-radius: 8px;
  font-size: 0.9em;
  color: white;
  font-weight: bold;
}
@media (max-width: 768px) {
  .container {

	 width: 100%;
    flex-direction: column;
  }
  .search-section {
    order: -1;
  }
	.weapon-list {
  min-height: 500px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}
	.left-panel {
  width: 100%;
  height: auto;
  padding: 20px;
}
	.right-panel {
  width: 100%;
  padding: 20px;
}
}

/* 例: シーズン別色付け */
.season-初期実装 { 
	  color: #555;
	background-color: hsl(0, 0%, 100%); }
.season-2022冬, .ra_area-短距離 { background-color: hsl(0, 70%, 50%); }
.season-2023春, .ra_area-中距離 { background-color: hsl(27, 70%, 50%); }
.season-2023夏, .ra_area-長距離 { background-color: hsl(54, 50%, 50%); }
.season-2023秋 { background-color: hsl(81, 70%, 30%); }
.season-2023冬 { background-color: hsl(108, 70%, 30%); }
.season-2024春, .ra_area-短距離チャージャー { background-color: hsl(135, 70%, 30%); }
.season-2024夏 { background-color: hsl(162, 70%, 30%); }
.season-2025春, .ra_area-長距離チャージャー { background-color: hsl(189, 70%, 50%); }
.season-2025仮 { background-color: hsl(216, 70%, 50%); }
.season-2025仮2 { background-color: hsl(233, 70%, 50%); }
